# OS files
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# Model artifacts and checkpoints
src/models/**
!src/models/README.md

# Large binaries
*.safetensors
*.bin
*.pt
*.pth
*.model

# Node
node_modules/